/*Examen de Maki Mirón Olona DAW1V*/
body{
    background-color: rgb(89, 214, 175);
    min-width: 100%;
    max-width: 90%;

}
h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-spacing: 20px;
    letter-spacing: 4px;
    text-shadow: 5px -8px  rgb(118, 118, 118);
    color: white;

}
div#first{
    display: flex;
    align-content: center;
    margin: 10px 90px;
    padding: 20px;

}
section{
    border:5px solid rgb(20, 109, 66);
    border-top: none; 
    border-bottom: none;
    padding:20px;
}
hr{
    background-color:rgb(20, 109, 66);
    border: none;
    width: 60%;
    height: 5px;
    

}
hr#kingh{
    background-color:rgb(20, 109, 66);
    border: none;
    width: 90%;
    height: 5px;
}
#primerafoto{
    float:left;
    margin-left: 20px;
    margin-right: 12px;
    margin-bottom: 15px;
    size: 40px;
}

#gujarat{
    text-decoration: underline red;
    color:red;
}
#cajitanegra{
    border:1px solid black;
}
#blue{
    color:blue;
}
#banderaindia{
    float:right;
    margin-left: 5px;
    margin-right: 12px;
    max-width: 120px;

}
#banderausa{
    float:left;
    margin-left: 15px;
    margin-right: 5px;
    max-width: 120px;

}
#fotoking{
    float:right;
    margin-left: 12px;
    margin-right: 20px;
    margin-bottom: 15px;
    size: 40px;
}
h2{
    font-size: large;
    font-style: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#underline{
    text-decoration: underline;
}
.end{
    font-size: small;
}
